<p>Уважаемый(ая) <%= @order.name %></p>

<p>Администрация магазина Pragmatic Store благодарит Вас за недавний заказ. </p>

<p>Вы заказали следующий товар:</p>

<%= render @order.line_items -%>

<p>Когда Ваш заказ будет отправлен, мы пошлем Вам по элетронной почте отдельное сообщение.</p>